body {
  letter-spacing: -.014em;
  font-family: 'Avenir', sans-serif;
}

svg {
  border: 0px solid #ccc;
}

text {
  font-family: 'Avenir', sans-serif;
}

path {
  stroke-width: 1.5;
}

.domain {
  stroke: black;
  stroke-width: 0.5;
}

.x.axis .tick line {
  stroke: black;
}

.axis .tick line {
  stroke: lightgray;
  stroke-width: 0.5;
  stroke-dasharray: 4, 2;
}

.texto-etiqueta {
  font-size: 0.75em;
  font-weight: bold;
}

.header {
  font-size: 1em;
  fill: #555;
}

.subheader {
  font-size: 0.8em;
  fill: #555;
}

.grafico-filtros {
  margin-bottom: 5px;
  margin-top: 5px;
}

.grafico-cabecera {
  margin-bottom: -5px;
}

.OpcionFiltrado {
  display: inline-block;
  padding: 0.3em 1em;
  border: 1px solid;
  margin-right: 1px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 12px;
  background-color: white;
}

.OpcionFiltrado_deseleccionar {
  display: inline-block;
  padding: 0.3em 1em;
  border: 1px solid;
  margin-right: 1px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 12px;
  background-color: gold;
  font-weight: bold;
  color: black;

}

.OpcionFiltrado_tooltips {
  display: inline-block;
  padding: 0.3em 1em;
  border: 1px solid;
  margin-right: 1px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 12px;
  background-color: white;
  font-weight: bold;
  color: black;
}

.OpcionFiltrado_media {
  display: inline-block;
  padding: 0.3em 1em;
  border: 1px solid;
  margin-right: 1px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 12px;
  background-color: white;
  font-weight: bold;
  color: black;
}

.OpcionFiltrado_media--seleccion {
  background-color: lightgreen;
}

.OpcionFiltrado_tooltips--seleccion {
  background-color: lightgreen;
}

.OpcionFiltrado:first-child {
  border-radius: 2px 0 0 2px;
}

.OpcionFiltrado:last-child {
  margin-right: 0;
  border-radius: 0 2px 2px 0;
  border-right-width: 1px;
}

.OpcionFiltrado:hover:not(.OpcionFiltrado--seleccion) {
  background: lightgreen;
}

.OpcionFiltrado--seleccion {
  background-color: lightgray;
  color: #fff;
}

.textopuntos {
  font-size: 0.5em;
}

.tooltip {
  display: none;
}

.tooltip--seleccion {
  display: flex;
}

.total-etiqueta {
  font-size: 0.75em;
}


.line-series {
  fill: none;
}
